footer
  span &copy; Rosario RetroGames Inc - 2018
  // <div class="divider"></div>
  a(href='#')
    img(src='static/img/logo_footer.png' alt='logo footer')
  ul.redes-footer
    li.main-menu__item
      a.contact-link(href='https://wa.me/543416182002' target='_blank')
        i.fab.fa-whatsapp.fa-2x
    li.main-menu__item
      a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
        i.fab.fa-facebook-square.fa-2x
    li.main-menu__item
      a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
        i.fab.fa-instagram.fa-2x