section.games-gallery
    h2
      | Reviví los mejores títulos de la época.
      br
      |                 + 16000 JUEGOS!!!
      br
      | ____________
    .game-gallery-container
      .game-gallery-item
        img(src='static/img/juego1.webp' alt='mortal kombat 2')
        .game-item-overflow
          p MORTAL KOMBAT II
      .game-gallery-item
        img(src='static/img/juego2.webp' alt='Metal Slug')
        .game-item-overflow
          p METAL SLUG
      .game-gallery-item
        img(src='static/img/juego3.webp' alt='Adventure Island')
        .game-item-overflow
          p WONDER BOY
      .game-gallery-item
        img(src='static/img/juego4.webp' alt='Cadillacs and Dinosaurs')
        .game-item-overflow
          p CADILLACS &amp; DINOSAURS
      .game-gallery-item
        img(src='static/img/juego5.webp' alt='Galaga')
        .game-item-overflow
          p GALAGA
      .game-gallery-item
        img(src='static/img/juego6.webp' alt='1942')
        .game-item-overflow
          p 1942
      .game-gallery-item
        img(src='static/img/juego7.webp' alt='Pacman')
        .game-item-overflow
          p PACMAN
      .game-gallery-item
        img(src='static/img/juego8.webp' alt='Donkey Kong')
        .game-item-overflow
          p DONKEY KONG
      .game-gallery-item
        img(src='static/img/juego9.webp' alt='Punisher')
        .game-item-overflow
          p PUNISHER
      .game-gallery-item
        img(src='static/img/juego10.webp' alt='Captain Commando')
        .game-item-overflow
          p CAPTAIN COMMANDO
      .game-gallery-item
        img(src='static/img/juego11.webp' alt='Sunset Riders')
        .game-item-overflow
          p SUNSET RIDERS
      .game-gallery-item
        img(src='static/img/juego12.webp' alt='Snowbros')
        .game-item-overflow
          p SNOWBROS
      .game-gallery-item
        img(src='static/img/juego13.webp' alt='Street Fighter 2')
        .game-item-overflow
          p STREET FIGHTER II
      .game-gallery-item
        img(src='static/img/juego14.webp' alt='King of Fighter')
        .game-item-overflow
          p KING OF FIGHTERS
      .game-gallery-item
        img(src='static/img/juego15.webp' alt='teenage mutant ninja turtles')
        .game-item-overflow
          p TM NINJA TURTLES
      .game-gallery-item
        img(src='static/img/juego16.webp' alt='Double Dragon')
        .game-item-overflow
          p DOUBLE DRAGON
      .game-gallery-item
        img(src='static/img/juego17.webp' alt='Ghost Globins')
        .game-item-overflow
          p GHOST &amp; GLOBINS
      .game-gallery-item
        img(src='static/img/juego18.webp' alt='Hack Trick Hero')
        .game-item-overflow
          p HACK TRICK HERO
      .game-gallery-item
        img(src='static/img/juego19.webp' alt='Super Sidekicks')
        .game-item-overflow
          p SUPER SIDEKICKS
      .game-gallery-item
        img(src='static/img/juego20.webp' alt='Final Fight')
        .game-item-overflow
          p FINAL FIGHT