header
    .header-container
        a.logo-wrapper(href='#')
            img.logo(src='static/img/logoRRG.png' alt='Logo RRG')
        nav
            ul.main-menu
                li.main-menu__item
                    a.main-menu__link(href='#consolas') CONSOLAS
                li.main-menu__item
                    a.main-menu__link(href='#flipper') FLIPPERS VIRTUALES
                li.main-menu__item
                    a.main-menu__link(data-toggle='modal' data-target='#alquilerModal' href='#') ALQUILER
                li.main-menu__item
                    a.main-menu__link(data-toggle='modal' data-target='#alquilerModal' href='#') REPARACIÓN
                li.main-menu__item
                    a.main-menu__link(href='#restauracion') RESTAURACIÓN
            ul.main-menu.social
                li.main-menu__item
                    a.contact-link(href='https://wa.me/543416182002' target='_blank')
                        i.fab.fa-whatsapp.fa-lg
                li.main-menu__item
                    a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                        i.fab.fa-facebook-square.fa-lg
                li.main-menu__item
                    a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                        i.fab.fa-instagram.fa-lg
