section.models-section
    h2#consolas
        | Mirá los modelos...!
        br
        | ____________

    //- MINICONSOLA
    article.model-container
        .miniconsole
        .model-text
            h3 MINI CONSOLA ARCADE MULTIJUEGO
            p
                | El KIT PI3 tiene todo lo que necesitas para adentrarte en el mundo del retro game.
            h4 CARACTERÍSTICAS:
            ul
                li Mas de 10.000 juegos de 30 sistemas y consolas diferentes para jugar
                li Sólo tenés que conectar el HDMI al TELE!
                li Consola RPI3 MODEL B.
                li Carcasa negra Mini.
                li
                    | Memoria de 16GB o 32GB (INLCUYENDO MAS DE 1200 DE LOS CLÁSICOS FICHINES ARCADES).
                li Transformador con cable USB.
                li Cable HDMI.
                li 2 JOYS USB estilo PLAYSTATION, SUPER NINTENDO o SEGA.
            .request-button
                span &iexcl;PEDILO!
                .menu-tooltip
                    span.main-menu__item
                        a.contact-link(href='https://wa.me/543416182002' target='_blank')
                            i.fab.fa-whatsapp.fa-2x
                    span.main-menu__item
                        a.contact-link(href='http://m.me/RosarioRetroGames/' target='_blank')
                            i.fab.fa-facebook-messenger.fa-2x
                    span.main-menu__item
                        a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                            i.fab.fa-instagram.fa-2x
        .prices-container
            .alt-price
                span 32GB <br>
                    a(data-toggle='modal' data-target='#gameList32Modal' href='#') +10000 juegos
                span $53900
            .third-price
                span 64GB <br>
                    a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos
                span $55900 <br>

    //- MINICONSOLA RPI4
    article.model-container
        .miniconsole-plus
        .model-text
            h3 MINI CONSOLA ARCADE MULTIJUEGO
            h3(style="text-align: center") "PLUS 4.0"
            p
                | El KIT PI3 tiene todo lo que necesitas para adentrarte en el mundo del retro game.
            h4 CARACTERÍSTICAS:
            ul
                li La MINI CONSOLA PLUS 4.0 cuenta con todas las caraterísitcas del modelo anterior y muchos más:
                li Consola RPI4 de 4GB.
                li
                    | Memoria de 128GB SANDINSK.
                li 2 JOYS USB estilo PLAYSTATION, SUPER NINTENDO o SEGA.
                li
                    strong(style="text-transform: uppercase") El modelo plus 4.0 tiene consolas más modernas como dreamcast, naomi, PSP, PLAYSTATIO1 y juegos como Virtual Striker, Virtual Tennis, y muchos más, dando una experiencia de juego superior.
            .request-button
                span &iexcl;PEDILO!
                .menu-tooltip
                    span.main-menu__item
                        a.contact-link(href='https://wa.me/543416182002' target='_blank')
                            i.fab.fa-whatsapp.fa-2x
                    span.main-menu__item
                        a.contact-link(href='http://m.me/RosarioRetroGames/' target='_blank')
                            i.fab.fa-facebook-messenger.fa-2x
                    span.main-menu__item
                        a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                            i.fab.fa-instagram.fa-2x
        .prices-container
            .principal-price
                span 128GB <br>
                    a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos
                span $67900

    //- CONSOLA 2 MANDO
    article.model-container
        .console
        .model-text
            h3 CONSOLA ARCADE MULTIJUEGOS
            p
                | La CONSOLA ARCADE DE 2 JUGADORES es la opción perfecta para sentir la experiencia del arcade en
                | espacios reducidos.
            h4 CARACTERÍSTICAS:
            ul
                li &iexcl;SE CONECTA DIRECTO AL TV POR HDMI!
                li Mas de 10.000 juegos de 30 sistemas y consolas diferentes para jugar
                li Dos medidas, estandar de 74cm de ancho y XL de 90cm.
                li
                    | Elegis el diseño del ploteo que te guste entre los mas de 150 que disponemos, si no te gusta
                    | ninguno armamos uno con la temática que mas te guste.
                li Utilizamos madera de 15 y 18mm para mayor durabilidad.
                li Botones y palancas nuevas de alta resistencia.
                li Tapacanto de goma alrededor de todo el tablero.
                li Pefil en toda la base con patas de goma antideslizantes.
                li Tablero laqueado para evitar manchas y que se corra el ploteo.
            .button-container
                .request-button
                    span ¡PEDILO!
                    .menu-tooltip
                        span.main-menu__item
                            a.contact-link(href='https://wa.me/543416182002' target='_blank')
                                i.fab.fa-whatsapp.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                                i.fab.fa-facebook-messenger.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                                i.fab.fa-instagram.fa-2x
                a(href='' data-toggle='modal' data-target='#consoleGalleryModal')
                    .request-button
                        | GALERÍA
                a(href='/models.html' target='_blank')
                    .request-button(style='background-color: #6f8082;')
                        | DISEÑOS
        .prices-container
            .alt-price
                span 32GB <br>
                    a(data-toggle='modal' data-target='#gameList32Modal' href='#') +10000 juegos
                span $67900
                span XL $69900

    //- CONSOLA 2 MANDOS PLUS
    article.model-container
        .console-plus
        .model-text
            h3 CONSOLA ARCADE MULTIJUEGOS
            h3(style="text-align: center") "PLUS 4.0"
            p
                | La CONSOLA ARCADE DE 2 JUGADORES es la opción perfecta para sentir la experiencia del arcade en
                | espacios reducidos.
            h4 CARACTERÍSTICAS:
            ul
                li La CONSOLA ARCADE PLUS 4.0 cuenta con las mismas características del modelo anterior y muchos más:
                li RPI4 de 4GB.
                li
                    | Memoria de 128GB SANDINSK.
                li
                    strong(style="text-transform: uppercase") El modelo plus 4.0 tiene consolas más modernas como dreamcast, naomi, PSP, PLAYSTATIO1 y juegos como Virtual Striker, Virtual Tennis, y muchos más, dando una experiencia de juego superior.
            .button-container
                .request-button
                    span ¡PEDILO!
                    .menu-tooltip
                        span.main-menu__item
                            a.contact-link(href='https://wa.me/543416182002' target='_blank')
                                i.fab.fa-whatsapp.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                                i.fab.fa-facebook-messenger.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                                i.fab.fa-instagram.fa-2x
                a(href='' data-toggle='modal' data-target='#consoleGalleryModal')
                    .request-button
                        | GALERÍA
                a(href='/models.html' target='_blank')
                    .request-button(style='background-color: #6f8082;')
                        | DISEÑOS
        .prices-container
            .principal-price
                span 128GB <br>
                    a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos
                span $85900
                span XL $87900

    //- CONSOLA 4 MANDOS
    article.model-container
        .console-four
        .model-text
            h3 CONSOLA ARCADE 4 MANDOS
            p EL DOBLE DE JUGADORES, EL DOBLE DE DIVERSIÓN !!!
            h4 CARACTERÍSTICAS:
            ul
                li ¡SE CONECTA DIRECTO AL TV POR HDMI!
                li Mas de 10.000 juegos de 30 sistemas y consolas diferentes para jugar
                li
                    | Elegis el diseño del ploteo que te guste entre los mas de 150 que disponemos, si no te gusta
                    | ninguno armamos uno con la temática que mas te guste.
                li Utilizamos madera de 15 y 18mm para mayor durabilidad.
                li Botones y palancas nuevas de alta resistencia.
                li Tapacanto de goma alrededor de todo el tablero.
                li Pefil en toda la base con patas de goma antideslizantes.
                li Tablero laqueado para evitar manchas y que se corra el ploteo.
            .button-container
                .request-button
                    span ¡PEDILO!
                    .menu-tooltip
                        span.main-menu__item
                            a.contact-link(href='https://wa.me/543416182002' target='_blank')
                                i.fab.fa-whatsapp.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                                i.fab.fa-facebook-messenger.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                                i.fab.fa-instagram.fa-2x
                a(href='' data-toggle='modal' data-target='#console4GalleryModal')
                    .request-button
                        | GALERÍA
        .prices-container
            .principal-price
                span 32GB <br>
                    a(data-toggle='modal' data-target='#gameList32Modal' href='#') +10000 juegos
                span $98900

    //- CONSOLA 4 MANDOS PLUS
    article.model-container
        .console-four-plus
        .model-text
            h3 CONSOLA ARCADE 4 MANDOS
            h3(style="text-align: center") "PLUS 4.0"
            p EL DOBLE DE JUGADORES, EL DOBLE DE DIVERSIÓN !!!
            h4 CARACTERÍSTICAS:
            ul
                li La CONSOLA ARCADE 4 MANDOS PLUS 4.0 cuenta con las mismas características del modelo anterior y muchos más:
                li RPI4 de 4GB.
                li
                    | Memoria de 128GB SANDINSK.
                li
                    strong(style="text-transform: uppercase") El modelo plus 4.0 tiene consolas más modernas como dreamcast, naomi, PSP, PLAYSTATIO1 y juegos como Virtual Striker, Virtual Tennis, y muchos más, dando una experiencia de juego superior.
            .button-container
                .request-button
                    span ¡PEDILO!
                    .menu-tooltip
                        span.main-menu__item
                            a.contact-link(href='https://wa.me/543416182002' target='_blank')
                                i.fab.fa-whatsapp.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                                i.fab.fa-facebook-messenger.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                                i.fab.fa-instagram.fa-2x
                a(href='' data-toggle='modal' data-target='#console4GalleryModal')
                    .request-button
                        | GALERÍA
        .prices-container
            .principal-price
                span 128GB <br>
                    a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos
                span $119900

    //-BARTOP
    article.model-container
        .bartop
        .model-text
            h3 BARTOP
            //- <p class="comingsoon">¡PROXIMAMENTE!</p>
            p
                | LA BARTOP HOGAREÑA MULTIJUEGOS diseñada para jugar en cualquier rincón de tu hogar.
            h4 CARACTERÍSTICAS:
            ul
                li ¡¡ENCHUFAS Y JUGAS!!!
                li Dos medidas, estandar de 48cm de ancho y XL de 58cm.
                li Mas de 10.000 juegos de 30 sistemas y consolas diferentes para jugar
                li Utilizamos madera de 15 y 18mm para mayor durabilidad.
                li Botones y palancas nuevas de alta resistencia.
                li Monitor 19'' y parlantes stereo!
                li Tapacanto de goma alrededor de todo el tablero.
                li Pefil en toda la base con patas de goma antideslizantes.
                li Tablero laqueado para evitar manchas y que se corra el ploteo.
            .button-container
                .request-button
                    span &iexcl;PEDILO!
                    .menu-tooltip
                        span.main-menu__item
                            a.contact-link(href='https://wa.me/543416182002' target='_blank')
                                i.fab.fa-whatsapp.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                                i.fab.fa-facebook-messenger.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                                i.fab.fa-instagram.fa-2x
                a(href='' data-toggle='modal' data-target='#bartopGalleryModal')
                    .request-button
                        | GALERÍA
        .prices-container
           .third-price
                span $129900
                span XL
                span (10cm más ancha)

    //- BARTOP PLUS
    article.model-container
        .bartop-plus
        .model-text
            h3 BARTOP PLUS 4.0
            //- <p class="comingsoon">¡PROXIMAMENTE!</p>
            p
                | LA BARTOP HOGAREÑA MULTIJUEGOS diseñada para jugar en cualquier rincón de tu hogar.
            h4 CARACTERÍSTICAS:
            ul
                li La BARTOP PLUS 4.0 cuenta con las mismas características del modelo anterior y muchos más:
                li RPI4 de 4GB.
                li
                    | Memoria de 128GB SANDINSK.
                li
                    strong(style="text-transform: uppercase") El modelo plus 4.0 tiene consolas más modernas como dreamcast, naomi, PSP, PLAYSTATIO1 y juegos como Virtual Striker, Virtual Tennis, y muchos más, dando una experiencia de juego superior.
            .button-container
                .request-button
                    span &iexcl;PEDILO!
                    .menu-tooltip
                        span.main-menu__item
                            a.contact-link(href='https://wa.me/543416182002' target='_blank')
                                i.fab.fa-whatsapp.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                                i.fab.fa-facebook-messenger.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                                i.fab.fa-instagram.fa-2x
                a(href='' data-toggle='modal' data-target='#bartopGalleryModal')
                    .request-button
                        | GALERÍA
        .prices-container
            .principal-price
                span 128GB
                span
                    a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos
                span $149900

    //- ARCADE
    article.model-container
        .arcade
        .model-text
            h3 MÁQUINA ARCADE
            p La EXPERIENCIA COMPLETA! Para los verdaderos fanáticos del retrogaming.
            h4 CARACTERÍSTICAS:
            ul
                li Elegí entre un mueble nuevo o
                li un muebles original de los 90 completamente restaurado!
                li Más de 10000 juegos para disfrutar.
                li Con fichero comercial o juego libre.
                li Monitor de 19'' a 22''.
                li Todos los componentes completamente nuevos.
                li
                    | &iexcl;ALQUILALO PARA CASAMIENTOS, CUMPLEAÑOS, EVENTOS CORPORATIVOS Y DISFRUTA DE UN EVENTO
                    | DIFERENTE!
            .button-container
                .request-button
                    span ¡PEDILO!
                    .menu-tooltip
                        span.main-menu__item
                            a.contact-link(href='https://wa.me/543416182002' target='_blank')
                                i.fab.fa-whatsapp.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                                i.fab.fa-facebook-messenger.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                                i.fab.fa-instagram.fa-2x
                a(href='' data-toggle='modal' data-target='#arcadeGalleryModal')
                    .request-button
                        | GALERÍA
            //- <p class="comingsoon">¡PROXIMAMENTE!</p>
        .prices-container
            .third-price
                span desde $195000
                span
                    a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos

    //- ARCADE PLUS
    article.model-container
        .arcade-plus
        .model-text
            h3 MÁQUINA ARCADE PLUS 4.0
            p La EXPERIENCIA COMPLETA! Para los verdaderos fanáticos del retrogaming.
            h4 CARACTERÍSTICAS:
            ul
                li La ARCADE PLUS 4.0 cuenta con las mismas características del modelo anterior y muchos más:
                li RPI4 de 4GB.
                li
                    | Memoria de 128GB SANDINSK.
                li
                    strong(style="text-transform: uppercase") El modelo plus 4.0 tiene consolas más modernas como dreamcast, naomi, PSP, PLAYSTATIO1 y juegos como Virtual Striker, Virtual Tennis, y muchos más, dando una experiencia de juego superior.
            .button-container
                .request-button
                    span ¡PEDILO!
                    .menu-tooltip
                        span.main-menu__item
                            a.contact-link(href='https://wa.me/543416182002' target='_blank')
                                i.fab.fa-whatsapp.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                                i.fab.fa-facebook-messenger.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                                i.fab.fa-instagram.fa-2x
                a(href='' data-toggle='modal' data-target='#arcadeGalleryModal')
                    .request-button
                        | GALERÍA
            //- <p class="comingsoon">¡PROXIMAMENTE!</p>
        .prices-container
            .principal-price
                span 128GB
                span
                    a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos
                span desde 219000

    //- FLIPPER
    article.model-container#flipper
        .flipper
        .model-text
            h3 PINBALL VIRTUAL PREMIUM DE 3 PANTALLAS
            p FLIPPER VIRUAL TAMAÑO REAL. REVIVÍ MAS DE 800 MESAS!!
            h4 CARACTERÍSTICAS:
            ul
                li Visual pinball 10 y FX3 en modo cabinet full. Sensación muy realista debido a las 3 pantallas que emulan desde el
                    |  playfield hasta el Dmd Original. Podés jugar Terminator, Tortugas
                    | Ninjas, Jurassic Park, Ac/Dc, Etc. y mesas Fantasía Actuales.
                li Vidrio blindex laminado de 6mm para protejer el TV del palyfield y dar una
                    |  mayor sensación e profundidad.
                li 3 pantallas: 43´´ (playfield) – 32´´ (backglass) – 19´´ (dmd).
                li Parlantes con subwoofer inferior (como los originales).
                li Tirabola real funcional, tapa de flipper original de acero inoxidable y
                    |  patas de  flipper original.
                li TV del backglass con encendido independiente para poder conectar una
                    |  consola multijuegos  (se puede incluir con una base – consultar precio).
            .button-container
                .request-button
                    span &iexcl;PEDILO!
                    .menu-tooltip
                        span.main-menu__item
                            a.contact-link(href='https://wa.me/543416182002' target='_blank')
                                i.fab.fa-whatsapp.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                                i.fab.fa-facebook-messenger.fa-2x
                        span.main-menu__item
                            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                                i.fab.fa-instagram.fa-2x
                a(href='' data-toggle='modal' data-target='#flipperGalleryModal')
                    .request-button
                        | GALERÍA
            //- <p class="comingsoon">¡PROXIMAMENTE!</p>
        .prices-container
            .third-price
                span $670000
                span(style="font-size:12px") (Consultar por modelos más económicos)
                span +800 mesas!
