section.models-section
  h2#consolas
    | Mirá; los modelos...
    br
    | ____________

  //- MINICONSOLA
  article.model-container
    .miniconsole
    .model-text
      h3 MINI CONSOLA ARCADE MULTIJUEGOS
      p
        | El KIT PI3 tiene todo lo que necesitas para adentrarte en el mundo del retro game.
      h4 CARACTERÍSTICAS:
      ul
        li Mas de 10.000 juegos de 30 sistemas y consolas diferentes para jugar
        li Sólo tenés que conectar el HDMI al TELE!
        li Consola RPI3 MODEL B.
        li Carcasa negra Mini.
        li
          | Memoria de 16GB o 32GB (INLCUYENDO MAS DE 1200 DE LOS CLÁSICOS FICHINES ARCADES).
        li Transformador con cable USB.
        li Cable HDMI.
        li 2 JOYS USB estilo PLAYSTATION, SUPER NINTENDO o SEGA.
      .request-button
        span &iexcl;PEDILO!
        .menu-tooltip
          span.main-menu__item
            a.contact-link(href='https://wa.me/543416182002' target='_blank')
              i.fab.fa-whatsapp.fa-2x
          span.main-menu__item
            a.contact-link(href='http://m.me/RosarioRetroGames/' target='_blank')
              i.fab.fa-facebook-messenger.fa-2x
          span.main-menu__item
            a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
              i.fab.fa-instagram.fa-2x
    .prices-container
      .principal-price
        span 16GB <br> 
          a(data-toggle='modal' data-target='#gameList16Modal' href='#') +6000 juegos
        span $5390
      .alt-price
        span 32GB <br>
         a(data-toggle='modal' data-target='#gameList32Modal' href='#') +10000 juegos
        span $5690
      .third-price
        span 64GB <br>
         a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos
        span $6290

  //- CONSOLA 2 MANDOS
  article.model-container
        .console
        .model-text
          h3 CONSOLA ARCADE MULTIJUEGOS
          p
            | La CONSOLA ARCADE DE 2 JUGADORES es la opci&oacute;n perfecta para sentir la experiencia del arcade en
            | espacios reducidos.
          h4 CARACTER&Iacute;STICAS:
          ul
            li &iexcl;SE CONECTA DIRECTO AL TV POR HDMI!
            li Mas de 10.000 juegos de 30 sistemas y consolas diferentes para jugar
            li
              | Elegis el dise&ntilde;o del ploteo que te guste entre los mas de 150 que disponemos, si no te gusta
              | ninguno armamos uno con la tem&aacute;tica que mas te guste.
            li Utilizamos madera de 15 y 18mm para mayor durabilidad.
            li Botones y palancas nuevas de alta resistencia.
            li Tapacanto de goma alrededor de todo el tablero.
            li Pefil en toda la base con patas de goma antideslizantes.
            li Tablero laqueado para evitar manchas y que se corra el ploteo.
          .button-container
            .request-button
              span &iexcl;PEDILO!
              .menu-tooltip
                span.main-menu__item
                  a.contact-link(href='https://wa.me/543416182002' target='_blank')
                    i.fab.fa-whatsapp.fa-2x
                span.main-menu__item
                  a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                    i.fab.fa-facebook-messenger.fa-2x
                span.main-menu__item
                  a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                    i.fab.fa-instagram.fa-2x
            a(href='' data-toggle='modal' data-target='#consoleGalleryModal')
              .request-button
                | GALERÍA
        .prices-container
          .principal-price
            span 16GB <br> 
              a(data-toggle='modal' data-target='#gameList16Modal' href='#') +6000 juegos
            span $9590
          .alt-price
            span 32GB <br>
              a(data-toggle='modal' data-target='#gameList32Modal' href='#') +10000 juegos
            span $9990
          .third-price
            span 64GB <br>
              a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos
            span $10590

  //-BARTOP
  article.model-container
      .bartop
      .model-text
        h3 BARTOP
        //- <p class="comingsoon">¡PROXIMAMENTE!</p>
        p
          | LA BARTOP HOGAREÑA;A MULTIJUEGOS es la opción perfecta para sentir la experiencia del arcade en
          | espacios reducidos.
        h4 CARACTERÍSTICAS:
        ul
          li &iexcl;&iexcl;ENCHUFAS Y JUGAS!!!
          li Mas de 10.000 juegos de 30 sistemas y consolas diferentes para jugar
          li Utilizamos madera de 15 y 18mm para mayor durabilidad.
          li Botones y palancas nuevas de alta resistencia.
          li Monitor 19&apos;&apos; y parlantes stereo!
          li Tapacanto de goma alrededor de todo el tablero.
          li Pefil en toda la base con patas de goma antideslizantes.
          li  Tablero laqueado para evitar manchas y que se corra el ploteo.
        .button-container
          .request-button
            span &iexcl;PEDILO!
            .menu-tooltip
              span.main-menu__item
                a.contact-link(href='https://wa.me/543416182002' target='_blank')
                  i.fab.fa-whatsapp.fa-2x
              span.main-menu__item
                a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                  i.fab.fa-facebook-messenger.fa-2x
              span.main-menu__item
                a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                  i.fab.fa-instagram.fa-2x
          a(href='' data-toggle='modal' data-target='#bartopGalleryModal')
            .request-button
              | GALERÍA
      .prices-container
        .alt-price
          span $15900
          span 
            a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 <br> juegos
        .third-price
          span $17500 
          span XL 
          span (10cm más ancha)
          
  //- ONEJOYSTICK
  article.model-container
        .joystick
        .model-text
          h3 JOYSTICK 1 PLAYER USB
          //- <p class="comingsoon">¡PROXIMAMENTE!</p>
          p Disfrut&aacute; de la experiencia de los MANDOS DE ARCADE en cualquier PC!
          h4 CARACTER&Iacute;STICAS:
          ul
            li
              | Utilizamos madera de 15 y 18mm para mayor durabilidad, botones y palancas nuevas de alta
              | resistencia, tapacanto de goma alrededor de todo el tablero y pefil en toda la base con
              | patasde goma antideslizantes. El Tablero es laqueado para evitar manchas y que se corra el
              | ploteo.
            li
              | Eleg&iacute;s el dise&ntilde;o del ploteo que te guste entre los m&aacute;s de 150 que disponemos, sino te gusta
              | ninguno armamos uno con la tem&aacute;tica que m&aacute;s te guste.
            li Armado con placa ZERO DELAY
            li Pod&eacute;s elegir entre 6, 8 o 10 botones completamente configurables.
            li
              | Compatible con PC, PS3, Raspberry y cualquier dispositivo con entrada USB (No compatible con
              | PS4)
          div
            .request-button
              span &iexcl;PEDILO!
              .menu-tooltip
                span.main-menu__item
                  a.contact-link(href='https://wa.me/543416182002' target='_blank')
                    i.fab.fa-whatsapp.fa-2x
                span.main-menu__item
                  a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                    i.fab.fa-facebook-messenger.fa-2x
                span.main-menu__item
                  a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                    i.fab.fa-instagram.fa-2x
        .prices-container
          .principal-price
            span $4.600
  
  //- ARCADE
  article.model-container
    .arcade
    .model-text
      h3 MÁQUINA ARCADE
      p La EXPERIENCIA COMPLETA! Para los verdaderos fanáticos del retrogaming.
      h4 CARACTERÍSTICAS:
      ul
        li Elegí entre un mueble nuevo o
        li un muebles original de los 90 completamente restaurado!
        li Más de 10000 juegos para disfrutar.
        li Con fichero comercial o juego libre.
        li Monitor de 19'' a 22''.
        li Todos los componentes completamente nuevos.
        li
          | &iexcl;ALQUILALO PARA CASAMIENTOS, CUMPLEAÑOS, EVENTOS CORPORATIVOS Y DISFRUTA DE UN EVENTO
          | DIFERENTE!
      div
        .request-button
          span ¡PEDILO!
          .menu-tooltip
            span.main-menu__item
              a.contact-link(href='https://wa.me/543416182002' target='_blank')
                i.fab.fa-whatsapp.fa-2x
            span.main-menu__item
              a.contact-link(href='https://www.facebook.com/RosarioRetroGames/' target='_blank')
                i.fab.fa-facebook-messenger.fa-2x
            span.main-menu__item
              a.contact-link(href='https://www.instagram.com/rosarioretrogame/?hl=es-la' target='_blank')
                i.fab.fa-instagram.fa-2x
      //- <p class="comingsoon">¡PROXIMAMENTE!</p>
    .prices-container
      .third-price
        span desde $25900
        span
          a(data-toggle='modal' data-target='#gameList64Modal' href='#') +13000 juegos