section#restauracion.restauracion
    h2
      | &iquest;Ten&eacute;s un arcade viejo?
      br
      | &iexcl;Te lo restauramos y lo dejamos como nuevo!
      br
      | ____________
    .res-container
      #container1
        div
          img(src='static/img/arcadeNuevo.webp' alt='Antes' width='700' height='400')
        div
          img(src='static/img/arcadeViejo.webp' alt='Después' width='700' height='400')
      #container2.container2
        div
          img(src='static/img/arcade2Nuevo.webp' alt='Antes' width='700' height='400')
        div
          img(src='static/img/arcade2Viejo.webp' alt='Después' width='700' height='400')
    .res-container.mobile
      #container3
        div
          img(src='static/img/arcadeNuevo.webp' alt='Antes' width='320' height='200')
        div
          img(src='static/img/arcadeViejo.webp' alt='Después' width='320' height='200')
      #container4.container2
        div
          img(src='static/img/arcade2Nuevo.webp' alt='Antes' width='320' height='200')
        div
          img(src='static/img/arcade2Viejo.webp' alt='Después' width='320' height='200')