section.main-banner
  .video-wrap
    video.banner-video(poster='static/img/arcade-room.webp' muted='muted' autoplay='autoplay' loop='loop')
      // <source src="https://d150hyw1dtprld.cloudfront.net/videos/HP_VideoTest_NoPostRoll_v2_720p.webm" type="video/webm">
      // <source src="rsc/videos/videorrg2.mp4" video/mp4">
      source(src='static/media/MVI_1012.webm' type='video/webm')
    .mobile-bg
    .trama
  .main-text
    h1 Los clásicos nunca mueren...
    p Venta, restauración y alquiler de consolas arcades
    a(href='#consolas')
      .icon-scroll